<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368915087044-r6dr2ql8f9fd3ra89nhvcfhbelq5dpk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368915087044-r6dr2ql8f9fd3ra89nhvcfhbelq5dpk1</string>
	<key>API_KEY</key>
	<string>AIzaSyB40ZC1YJGJowLMsUp1eQE_FU4vOzObHCA</string>
	<key>GCM_SENDER_ID</key>
	<string>368915087044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-22e95</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-22e95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368915087044:ios:565bd0f30a5ac6c7319391</string>
</dict>
</plist>